.contenedor-principal{

    display: grid;
    grid-template-columns: 1rf 2fr 1fr ;
    column-gap: 10px;
    row-gap: 10px;
    height: 200px;

}
/*para la ventana de compras*/
/*la idea es poner tres grid
 el primero con el carrusel
 el segundo al lado con las caractristicas del producto
 el tersero en la parte inferior con demas informaciones*/
 .grid-1{
    background-color: palegreen;
    text-align: center;
    border: 1px solid black;
    grid-area: 4/4/4/1;/*esta baina es para maquetar, unir y separa lineas y columnas*/
    
    }
    .grid-2{
        backdrop-filter: blur(15px);
        text-align: center;
       
        grid-area: 1/4/5/5;/
    
    }
    .grid-3{
        backdrop-filter: blur(15px);
        text-align: center;
       
        grid-area: 3/3/3/1;/
    }