* {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   
}

section{
   background: url("../imagenes/llamada.jpg") no-repeat;
   display:flex;
   justify-content:left;
   align-items:first baseline;
   width: 120%;
   height:1450px;
   min-height: 20vh;
   background-position:center;
   background-size:cover;
   background-attachment:fixed;
   padding: 150px;

}
h1{
   color:white;
   font-family: 'Courier New', Courier, monospace;
   text-shadow: 4px 4px gray;
 text-align: center;
 font-size: 70px; 
}

h2{
   color:white;
   font-family: 'Courier New', Courier, monospace;
   text-shadow: 2px 2px gray;
}
h3{
   color:blanchedalmond;
   font-family: 'Courier New', Courier, monospace;
   text-shadow: 3px 3px gray;
}
h5{
   color:black;
   font-family: 'Courier New', Courier, monospace;
   font-size: 40px;
}
body{
   
   font-family: 'Roboto', sans-serif;
   background-repeat: no-repeat;
}
/*las cajas son los fragmentos trtasparentes para agregar terto y botones*/
.caja{
   position:center;
   width: 1000px;
   border: 2px solid rgba(255, 255, 255, .6);
   border-radius: 20px;
   backdrop-filter: blur(15px);
   height: 690px;
   display: flex;
   justify-content:initial;
   align-items: left;
   
   
}
.caja1{
   position:fixed;
   left: 105%; 
   top: 0px; 
    width: 500px;
    height:775px; 
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    align-items:safe; 

}

.caja2{
   padding: 50px;
  position: center;
  left: 50%;  
   position:-ms-page;
   width: 490px;
   border: 2px solid rgba(255, 255, 255, .6);
   border-radius: 20px;
   backdrop-filter: blur(15px);
   height:  500px; 
   display: flex;
   justify-content:initial;
   align-items: left;     
}
.caja3{
   margin-top: 50px;
   padding: 10px;
  position:-ms-page;
  left: 100%; 
  top: 5px; 
   width: 1700px;
   height:180px; 
   border: 2px solid rgba(255, 255, 255, .6);
   border-radius: 20px;
   backdrop-filter: blur(15px);
   display: flex;
   justify-content:initial;
   align-items: left;     
}
.caja4{
   padding: -1px;
   margin:40px;
  position: left;
   position:fixed;
   width: 430px;
   height:320px; 
   border-radius: 900px;
   display: flex;
   justify-content:initial;
   align-items: left;     
}
.caja5{
   margin-top: 50px;
   padding: 10px;
  position:-ms-page;
  left: 100%; 
  top: 5px; 
   width: 1700px;
   height:180px; 
   border: 2px solid rgba(255, 255, 255, .6);
   border-radius: 20px;
   backdrop-filter: blur(15px);
   display: flex;
   justify-content:initial;
   align-items: left;     
}
.caja6{
   padding: 10px;
   position: center;
   left: 50%; 
   top: -45px; 
    position:-ms-page;
    width: 1050px;
    height:780px; 
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content:initial;
    align-items: left;  
 }
 

.contenedor{
   margin-top: 200px;
   position: center;
   display: flex;
   align-items: center;
   width: 500px;
}
.contenedor-cabecera2{
 margin: 10px;
padding: 0;
text-align: left;
justify-content:left;
}
.contenedor-cabecera3{
   backdrop-filter: blur(15px);
   border: 2px solid rgba(255, 255, 255, .6);
   border-radius: 20px;
   position: center;
   margin: 5px;
  text-decoration-color: aquamarine;
  text-align: center;
  justify-content:left;
  width: 380px;
  height:30px; 
  }
.contenedor-cabecera-superior{
   
   top: 20px;
   right: 20px;
   position:absolute;
   backdrop-filter: blur(15px);
   border: 2px solid rgba(255, 255, 255, .6);
   border-radius: 20px;
   padding: 5px;
   display: flex;
   text-align:start;
   justify-content:flex-end;
}

.superior{
   color:white;
   position: relative;
   margin-top:10ch;
   right: -45px;
}
.inferior{
   color:white;
   position: relative;
   margin-top: 5 ch;
   top: 1cm;
   right: -45px;
}

  .menu{
   position:-ms-page;
   width: 490px ;
   height: 1000px;
   display: flex;
   justify-content: right;
   align-items: right;
   
  }
  .nav-enlace{
   display: inline-block;
   color:black;
   padding: 10px 20px;
   text-decoration: none;
   font-size: 25px;
   margin: 10PX;
}
.nav-enlace:hover{
   backdrop-filter: blur(15px);
   border: 2px solid rgba(255, 255, 255, .6);
   /*intentaremos hacer que el texto seleccionado aparesca el recuadro trasparente*/
   
   }
   .contenedor-cabecera{
      margin: 20px;
      padding: 10px;
      text-align: center;
      justify-content: center;
      color: black;
      
        }
        img{
         display: flex;
         padding: 50px;
         justify-content: left;
     width: 200px; 
     height: 200px 
     }
     p{
      display: inline-block;
       color:black;
       padding: 10px 20px;
       font-size: 25px;
       margin: 10PX;
     }
     li{
      text-shadow: 1px 1px wheat;
      display:center;
      text-align: center;
       color:black;
       font-size: 24px;
       margin: 0.5PX;
     }
     .botones{
      
      display: flex;
  flex-direction: column;
  align-items:inherit; 
  
     }

